<!DOCTYPE html>
<html>
<head>
  <title>Timely</title>
  <%= stylesheet_link_tag :all %>
  <link title="theme" type="text/css" href="http://ui.jquery.com/applications/themeroller/css/jquery-ui-base.css.php?ctl=themeroller&amp;=" media="screen" rel="Stylesheet" id="themeCSS" />
  <%= javascript_include_tag :defaults, 'ui.timepickr' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <%= yield %>
</div>
</body>
</html>
