<!DOCTYPE html>
<html>
<head>
  <title>You're So Timely</title>
  <meta name="author" content="Chase Southard" />
  <meta name="copyright" content="2011" />
  <meta name="description" content="find when you should punch out via Timely" />
  <meta name="keywords" content="timeclock, punchclock, rails, webapp" />
  <meta NAME="ROBOTS" CONTENT="INDEX,NOFOLLOW" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <div id="main">
      <%= yield %>
  </div>
  <div id="push">
    <!-- sticky footer pusher //-->
  </div>
</div>
<div id="footer">
  <p>Another marginally useful project by Chase Southard<br />March 21, 2011</p> 
</div>
</body>
</html>
